header {
  background-color: rgb(151, 0, 3);
  padding: 20px;
  color: white;
}

#login {
  font-size: 13px;
  text-align: right;
  float: right;
}

#title {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.inline {
  display: inline-block;
}

li {
  padding-left: 4px;
  padding-right: 4px;
}

nav {
  background-color: #515151;
  font-size: 13px;
  color: white;
  text-align: right;
  padding: 15px;
}

#content {
  padding: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
}

#main-content {
  padding-left: 5%;
  padding-right: 5%;
  grid-column: 1;
  grid-row: 2
}


#art-museum-pic {
  width: 90%;
  padding: 15px;
  grid-column: 1;
  grid-row: 1;
}

#sidebar {
  padding-top: 10px;
  grid-column: 2;
  grid-row: 1 / span 2;
  display: grid;
  grid-gap: 50px;
}

#sidebar-item1 {
  grid-row: 1;
}

#sidebar-item2 {
  grid-row: 2;
}

#sidebar-item3 {
  grid-row: 3;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

.sidebar-image {
  width: 80%;
  padding-top: 5px;
}

a:link {
  color: white;
}

#content p {
  font-size: 12px;
  padding: 4px;
}

footer {
  padding: 20px 10px;
  background-color: #515151;
  color: white;
}